<head>
  <link rel="stylesheet" href="./first.css">
</head>
<div class="part1">
  <div class="top">
    <div class="studio-icon"><img src="../../assets/logo/qingyoulogo.svg"></div>
    <button>Oauth认证</button>
  </div>
  <div class="introduction">
    <div class="introduction-img"></div>
    <div class="introduction-text">
      <h1>青柚<br>创造可能</h1><br>
      <p>青柚工作室成立于2017年10月，现已有超过30位成员分别负责技术、设计、运营推广等工作。截止到现在，青柚工作室已经开发“南京邮电大学”、
        “校谈”等微信小程序。其中，“南邮小程序”现已有超过3.9万用户，日均活跃量超过8千人次。
        <br>出于对技术的热爱和对设计的追求，青柚工作室成员本着为南邮学生服务的出发点，创造解决生活学习中存在痛点的可能，开发产品，服务同学，提升技术能力。青柚，我们在创造可能。
      </p>
    </div>
  </div>
</div>
<script src="./first.js"></script>