<head>
  <link rel="stylesheet" href="./fourth.css">
</head>
<div class="part4">
  <div class="part-title-container">
    <div class="title-bubble bubble1"></div>
    <div class="title-bubble bubble2"></div>
    <span class="title-text">我们欢迎</span>
  </div>
  <div class="part-content">
    <div class="card-container card-container1"></div>
  </div>
  <img class="part-image" src="/src/assets/Illustrations/design_process_iqqg.svg">
  <div class="part-content">
    <div class="card-container card-container2"></div>
  </div>

</div>
<script src="./fourth.js"></script>